<%= simple_form_for [current_user, @photo] do |f| %>
  <p>
    <%= f.input :public %><br>
  </p>
 
  <p>
    <%= f.input :image %><br>
  </p>
 
  <p>
    <%= f.input :caption %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>